#profile-edit
  = form_for [@profile.user, @profile] do |f|
    %fieldset
      = f.label :occupation
      = f.text_field :occupation
    %fieldset
      = f.collection_check_boxes :ethnicity_ids, @ethnicities, :id, :ethnicity
    %fieldset
      = f.label :metric_height
      = f.select :metric_height, @height_metric_options, { include_blank: true }
    %fieldset
      = f.label :imperial_height
      = f.select :imperial_height, @height_imperial_options, { include_blank: true }
      = f.hidden_field :imperial
    %fieldset.button
      = f.submit "Save"
