#profile-edit
  = form_for [@profile.user, @profile] do |f|
    %fieldset
      = f.label :occupation
      = f.text_field :occupation
    %fieldset
      = f.collection_check_boxes :ethnicity_ids, @ethnicities, :id, :ethnicity
    %fieldset.star_sign
      = f.select(:star_sign, star_signs)
      = f.select(:star_sign_interest_level, options_for_select(levels_of_interest))
    %fieldset.button
      = f.submit "Save"