.profile
  .profile-header
    %h1
      Edit Profile

    .profile-percentage
      .profile-complete-outer
        %progress{:value => "#{@profile.progress}", :max => "100"}

        %h2
          = surround "Profile Completion:", "%" do
            = @profile.progress.to_i

  #profile-edit
    = form_for @profile, :url => user_profile_path(@profile.user, @profile) do |f|
      %fieldset
        = f.label :occupation
        = f.text_field :occupation
      %fieldset
        = f.label :ethnicity_ids, "Ethnicity"
        = f.collection_check_boxes :ethnicity_ids, @ethnicities, :id, :ethnicity
      %fieldset.smoking_habits
        = f.label :smoking_habits
        = f.select :smoking_habits, ['Never', 'Sometimes', 'Often'], { include_blank: true }
      %fieldset.star_sign
        = f.label :star_sign
        = f.select :star_sign, star_signs, { include_blank: true }
        = f.select :star_sign_interest_level, options_for_select(levels_of_interest,  selected = @profile.star_sign_interest_level)
      %fieldset.religion
        = f.label :religion
        = f.select :religion, religions, { include_blank: true }
        = f.select :religion_interest_level, options_for_select(levels_of_interest, selected = @profile.religion_interest_level)
      %fieldset.drinking_frequency
        = f.label :favourite_tipple
        = f.text_field :favourite_tipple
        = f.select :drink_frequency, drink_frequencies, { include_blank: true }
      %fieldset
        = f.label :education
        = f.select :education, @education_options, { include_blank: true }
      %fieldset
        = f.label :metric_height
        = f.select :metric_height, @height_metric_options, { include_blank: true }
      %fieldset
        = f.label :imperial_height
        = f.select :imperial_height, @height_imperial_options, { include_blank: true }
        = f.hidden_field :imperial
      %fieldset
        = f.label :metric_weight
        = f.select :metric_weight, @weight_metric_options, { include_blank: true }
      %fieldset
        = f.label :imperial_weight
        = f.select :imperial_weight, @weight_imperial_options, { include_blank: true }
        = f.hidden_field :imperial_bln_weight
      %fieldset
        = f.label :language_ids, "Languages"
        = f.collection_check_boxes :language_ids, @languages, :id, :language
      %fieldset
        = f.fields_for :images do |img|
          .profile-image-fields
            - if img.object.new_record?
              = img.label :image
              = img.file_field :image
            - else
              .thumbnail-image
                = image_tag img.object.image.thumb.url
              .thumbnail-check
                = img.check_box :_destroy
                Delete
              .thumbnail-main
                = f.radio_button :main_image_id, img.object.id
      %fieldset
        = f.label :about_you
        = f.text_area :about_you, :class => "tinymce", :rows => 5, :cols => 5
        = tinymce
      %fieldset
        = f.label :likes_and_dislikes
        = f.text_area :likes_and_dislikes, :class => "tinymce", :rows => 5, :cols => 5
        = tinymce
      %fieldset
        = f.label :looking_for
        = f.text_area :looking_for, :class => "tinymce", :rows => 5, :cols => 5
        = tinymce
      %fieldset.button
        = f.submit "Save"
