.profile
  %section.profile-header
    %h1
      #{@profile.user.username}

    %span.actions
      = link_to 'Edit', edit_user_profile_path(@profile.user, @profile)


  %section.profile-body
    %section.col.profile-images
      - if @profile.main_image
        = image_tag @profile.main_image.image.url, :id => "main_image"

      -@profile.images.each do |show|
        .thumbnail-image
          = image_tag show.image.thumb.url
    %section.col.biography
      .about-you
        - if @profile.about_you
          %h3 About you
          %p
            = @profile.about_you.html_safe

      .likes-and-dislikes
        - if @profile.likes_and_dislikes
          %h3 Likes and dislikes
          %p
            = @profile.likes_and_dislikes.html_safe

      .looking-for
        - if @profile.looking_for
          %h3 Looking for
          %p
            = @profile.looking_for.html_safe

    %section.col.profile-info
      %h2
        Profile Info
      .fact.seeking
        %h3
          Looking for #{preference(@profile.user.seeking)}

      .fact.date_of_birth
        %h3
          Date of Birth:
          =@profile.user.date_of_birth

      .fact.smoking_habits
        %h3
          Smoking Habits:
          =@profile.smoking_habits

      .fact.ethnicities
        %h3 Ethnicity:
        %ul
          -@profile.ethnicities.each do |ethnicity|
            %li
              = ethnicity.ethnicity

      .fact.weight
        %h3 Weight:
        - if @profile.weight
          #{@profile.weight} kgs
          = surround '(', ')' do
            #{imperial_weight_show(@profile).first} st #{imperial_weight_show(@profile).last} pounds

      .fact.height
        %h3 Height:
        - if @profile.height
          #{@profile.height} cms
          = surround '(', ')' do
            #{imperial_height_show(@profile).first} ft #{imperial_height_show(@profile).last} inches

      .fact.education
        - if @profile.education
          %h3 Education: #{retreive_education(@profile.education)}

      .fact.occupation
        %h3 Occupation: #{@profile.occupation}

      .fact.starsign
        %h3 Star-sign: #{@profile.star_sign}, and I'm #{level_of_interest(@profile.star_sign_interest_level)}

      .fact.religion
        %h3 Religion: #{@profile.religion}, and I'm #{level_of_interest(@profile.religion_interest_level)}

      .fact.drink-frequency
        %h3 Drinks: #{@profile.drink_frequency}

      .fact.favourite-tipple
        - if @profile.favourite_tipple
          %h3 Likes to drink: #{@profile.favourite_tipple}

      .fact.languages
        %h3 Languages: #{@profile.languages.map{|l| l.language}.join(',')}
  -if user_signed_in?
    =render :partial => "messages/new_message"

.clear