%h1
  Personal Profile

#profile-show
  #profile-ethnicities
    %h3 Ethnicity
    %ul
      -@profile.ethnicities.each do |ethnicity|
        %li
          = ethnicity.ethnicity

  #profile-weight
    %h3 Weight
    - if @profile.weight
      %p="#{@profile.weight} kgs"
      %p="#{@profile.imperial_weight_show.first} st #{@profile.imperial_weight_show.last} pounds"

  #profile-height
    %h3 Height
    - if @profile.height
      %p="#{@profile.height} cms"
      %p="#{@profile.imperial_height_show.first} ft #{@profile.imperial_height_show.last} inches"

  #profile-occupation
    %h3 Occupation: #{@profile.occupation}
