%h1
  Personal Profile

#profile-show
  #profile-ethnicities
    %h3 Ethnicity
    %ul
      -@profile.ethnicities.each do |ethnicity|
        %li
          = ethnicity.ethnicity

  #profile-height
    %h3 Height
    - if @profile.height
      %p="#{@profile.height} cms"
      %p="#{Profile.metric_to_imperial_height_conversion(@profile.height)} ft"

  #profile-occupation
    %h3 Occupation: #{@profile.occupation}

  #profile-starsign
    %h3 Star-sign: #{@profile.star_sign}, and I'm #{level_of_interest(@profile.star_sign_interest_level)}

  #profile-drinkfrequency
    %h3 #{@profile.drink_frequency} likes to drink #{@profile.favourite_tipple} 