%h1
  Personal Profile

#profile-show
  #profile.date_of_birth
    %h3
      Date of Birth: 
      =@profile.user.date_of_birth

  #profile-smoking_habits
    %h3
      Smoking Habits: 
      =@profile.smoking_habits

  #profile-ethnicities
    %h3 Ethnicity
    %ul
      -@profile.ethnicities.each do |ethnicity|
        %li
          = ethnicity.ethnicity

  #profile-weight
    %h3 Weight
    - if @profile.weight
      %p="#{@profile.weight} kgs"
      %p="#{@profile.imperial_weight_show.first} st #{@profile.imperial_weight_show.last} pounds"

  #profile-height
    %h3 Height
    - if @profile.height
      %p="#{@profile.height} cms"
      %p="#{@profile.imperial_height_show.first} ft #{@profile.imperial_height_show.last} inches"

  #profile-occupation
    %h3 Occupation: #{@profile.occupation}

  #profile-starsign
    %h3 Star-sign: #{@profile.star_sign}, and I'm #{level_of_interest(@profile.star_sign_interest_level)}

  #profile-drinkfrequency
    %h3 Drinks #{@profile.drink_frequency}  
    - if @profile.favourite_tipple
      %h3 Likes to drink #{@profile.favourite_tipple}
    - end

  #profile-languages
    %h3 Languages
    %ul
      -@profile.languages.each do |language|
        %li
          = language.language

.actions
  = link_to 'Edit', edit_user_profile_path(@profile.user, @profile)
