%h1
  Personal Profile

#profile-show
  #profile.date_of_birth
    %h3
      Date of Birth: 
      =@profile.user.date_of_birth

  #profile-smoking_habits
    %h3
      Smoking Habits: 
      =@profile.smoking_habits

  #profile-ethnicities
    %h3 Ethnicity
    %ul
      -@profile.ethnicities.each do |ethnicity|
        %li
          = ethnicity.ethnicity

  #profile-height
    %h3 Height
    - if @profile.height
      %p="#{@profile.height} cms"
      %p="#{Profile.metric_to_imperial_height_conversion(@profile.height)} ft"

  #profile-occupation
    %h3 Occupation: #{@profile.occupation}

  #profile-starsign
    %h3 Star-sign: #{@profile.star_sign}, and I'm #{level_of_interest(@profile.star_sign_interest_level)}

  #profile-drinkfrequency
    %h3 Likes to drink #{@profile.favourite_tipple+' '}#{@profile.drink_frequency}  

  #profile-languages
    %h3 Languages
    %ul
      -@profile.languages.each do |language|
        %li
          = language.language

.actions
  = link_to 'Edit', edit_user_profile_path(@profile.user, @profile)
