%h1
  Personal Profile

#profile-show
  #profile-ethnicities
    %h3 Ethnicity
    %ul
      -@profile.ethnicities.each do |ethnicity|
        %li
          = ethnicity.ethnicity

  #profile-weight
    %h3 Weight
    - if @profile.weight
      %p="#{@profile.weight} kgs"
      %p="#{Profile.metric_to_imperial_weight_conversion(@profile.weight)} stone"

  #profile-height
    %h3 Height
    - if @profile.height
      %p="#{@profile.height} cms"
      %p="#{Profile.metric_to_imperial_height_conversion(@profile.height)} ft"

  #profile-occupation
    %h3 Occupation: #{@profile.occupation}
