%h2
  Edit
  = resource_name.to_s.humanize

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  .form-row
    = f.label :email
    = f.email_field :email, :autofocus => true

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for:
      = resource.unconfirmed_email

  .form-row
    = f.label :password
    = f.password_field :password, :autocomplete => "off"
    %i
      (leave blank if you don't want to change it)

  .form-row
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  .form-row
    = f.label :current_password
    = f.password_field :current_password
    %i
      (we need your current password to confirm your changes)

  .form-row
    = f.label :date_of_birth
    = f.date_select :date_of_birth, {:start_year => (earliest_year_to_join), :end_year => 1900}

  .form-row
    = f.submit "Update"

  .account-options
    %h3
      Cancel my account

    = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete

  - if current_user.stripe_customer_id && current_user.type == 'Man'
    .account-options
      %h3
        Cancel my Subscription

      = button_to "Cancel my subscription", payments_path, :data => { :confirm => "Are you sure?" }, :method => :delete

