!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta{:name => "description", :content => t(:"meta.description") }
    %meta{:name => "keywords", :content => t(:"meta.keywords") }
    %title= "We Got Singles"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"

    = javascript_include_tag "application"
%body{:data => {:env => Rails.env}}
  -if flash[:notice]
    .flash.notice
      =flash[:notice]
  -if flash[:alert]
    .flash.alert
      =flash[:alert]
  %nav
    %h1#main-logo
      = link_to "We Got Singles", root_path

    .nav-links
      %ol
        - unless user_signed_in?
          %li
            = link_to 'Sign In', new_user_session_path
          %li
            = link_to 'Sign Up Guys!', account_registration_path("Man")
          %li
            = link_to 'Sign Up Girls!', account_registration_path("Woman")
        - else
          -if current_user.type == 'Man' && !current_user.stripe_customer_id
            %li
              = link_to 'Premium Membership', new_payment_path
          %li
            = link_to 'My Profile', user_profile_path(current_user, current_user.profile)
          %li
            = link_to 'My Matches', profiles_results_user_path(current_user.id)
          %li
            = link_to 'My Nearby Matches', profiles_results_user_path(current_user.id, :type => 'vicinity')
          %li
            = link_to 'My Account', edit_user_registration_path
          %li
            = link_to 'My Messages', messages_path

    .clear

  #content
    = yield